/*General*/
body {
    line-height: 1.5;
    color: #C8C8C8;;
    text-align: left;
    font-size: 1.5em;
    background-image: linear-gradient(90deg, rgba(16,16,18,0.6) 0%, rgba(11,11,11,0.7) 54%), url(/static/images/welcome_background.png);
    background-size: cover;
    background-attachment: fixed;
}

/*
    Rating table
 */

.table-responsive {
    background: rgba(41,51,75,0.9248074229691877);
    background: linear-gradient(90deg, rgba(40,40,56,1) 0%, rgba(41,51,75,0.9248074229691877) 35%, rgba(40,40,56,1) 90%);
    padding: 1.5rem;
    -webkit-box-shadow: 0 0.75rem 6rem rgba(56,65,74,.03);
    box-shadow: 0 0.75rem 6rem rgba(56,65,74,.03);
    margin-bottom: 24px;
    border-radius: .25rem;
}

.table-responsive table {
    overflow-x: auto;
    min-width: 550px;
}

.header-fixed {
    width: 100% 
}

.latest-delta.green {
    color: green;
}

.latest-delta.red {
    color: red;
}

.matches-won-cell {
    color: green;
}

.matches-lost-cell {
    color: red;
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.table-hover > tbody > tr:hover {
    background: linear-gradient(90deg, rgba(16,16,18,0.6110819327731092) 0%, rgba(11,11,11,0.5298494397759104) 54%);
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 300px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 16.6%;
    float: left;
    border-top: 1px solid #3b4452;
    white-space: nowrap;
    overflow: hidden;
}

.rules-list li {
    margin-top: 5px;
}

.label-day-game:first-child {
    margin-right: .4em;
    margin-bottom: .4em;
}

.column-day-game {
    top: 1em;
}

.main-page-jumbotron {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    margin-bottom: 1em;
}

.main-page-jumbotron-container {
    margin-top: 6em;
}

/* Change the styling of the jumbotrons on the main page, but not used for headers */
.jumbotron-collection > .main-page-jumbotron > .main-page-jumbotron-container {
    margin-top: 0em;
}

.non-decorated-link {
    text-decoration: none !important;
    color: inherit;
}

.main-welcome {
    padding-top: 2em;
}

.main-welcome-text {
    padding-left: 3em;
    padding-right: 3em;
}

.main-welcome-header {
    font-size: 80px;
}

.main-welcome-container{
    background-image: linear-gradient(90deg, rgba(16,16,18,0.6) 0%, rgba(11,11,11,0.7) 54%), url(/static/images/welcome_bg5.jpg);
    margin-top: 6em;
    padding-bottom: 11em;
    background-size: cover;
    border-radius: 3px;
    background-color: rgb(7,7,7);
}

.banner-text{
    max-width: 80%;
}

.main-welcome-text-image {
    max-width: 100%;
}

/*
=====================================
    Nav Bar
======================================
*/
#mainNav {
    height: 5em;
    margin-bottom: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: background 0.5s ease-in-out,padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out,padding 0.5s ease-in-out;
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
    font-size: 1.2em;
    background: rgba(0,0,0,.90);
    box-shadow: 0 10px 20px rgba(0,0,0,.55);
}

.nav-brand-image {
    display: block;
    content: '';
    width: 8.5em;
    height: 7em;
    background-repeat: no-repeat;
    margin-top: -30px;
    /* In the browser the image will render just fine because the static folder is public */
    background-image: url(/static/images/logo.png?ba582);
}

.navbar-toggle,  .navbar-toggle:hover {
    background-color: inherit !important;
    border-color: rgba(255, 255, 255, 0.85) !important;
}

.close-icon-nav {
    font-size: 1.2em;
}

.dropdown-menu {
    background-color: #222;
    background: rgba(0,0,0,.90);
}

.dropdown-menu li > a {
    color: #9d9d9d !important;
}

.dropdown-menu li > a:hover {
    color: #fff !important;
    background-color: #000;
}

.dropdown-menu ul > li > a:hover {
    color: #fff !important;
    background-color: #000;
}

.dropdown-menu li.divider {
    background-color: #000;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
    color: #9d9d9d !important;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

@media only screen and (max-width: 992px) {
    .nav-brand-image {
        margin-left: 1em;
        background-size: 97px;
        width: 7em;
        height: 5.5em;
        padding: 0;
    }

    .navbar-header {
        margin-top: -10px;
    }

    #armaNavbar {
        height: auto;
        background: rgba(0,0,0,.99);
    }

    .date-card .content h1 {
        font-size: 1em;
    }

    .table-responsive table {
        overflow-x: auto;
        min-width: 550px;
        width: 100%;
    }
}

#navbarResponsive {
    padding-top: 1em;
}

.nav-container {
    margin-top: 25px;
}

/*
=====================================
    Date Card
======================================
*/
.date-card .Wall{
    position:relative;
}

.date-card.container{
    height: 10em;
}

.date-card .calendar{
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    top:20px;
    width: 10em;
    background:white;
    box-shadow: 1px 2px 10px black;
}

.date-card .frame{
    position: relative;
    height: 30px;
    background: rgb(40,40,56);
    background: linear-gradient(90deg, rgba(40,40,56,1) 0%, rgba(41,51,75,0.9248074229691877) 35%, rgba(40,40,56,1) 90%);
}

.date-card .screw{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #bdc3c7;
    border-radius: 50px;
    top: 20%;
    box-shadow: inset 0px 0px 10px #2c3e50;
    border: 1px solid #7f8c8d;
}

.date-card .left{
    left: 5px;
}

.date-card .right{
    right:5px;
}

.date-card .shine{
    position: absolute;
    background: rgba(255,255,255,0.2);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    left: 5px;
    top: 5px;
}

.date-card .line{
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #7f8c8d;
    top: 8px;
    transform: rotate(20deg);
}

.date-card .rerotate{
    transform: rotate(60deg);
}

.date-card .year{
    position: absolute;
    width: 100%;
    height:100%;
}

.date-card .year h1{
    text-align: center;
    color: white;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    line-height: 2em;
}

.date-card .content{
    position: absolute;
    width: 100%;
    height: auto;
    top: 40px;
}

.date-card .content h1{
    text-align:center;
    margin:0;
    padding:0;
    font-size: 1.1em;
    line-height: 1.5em;
}

.date-card .content h2{
    text-align: center;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.date-card-col {
    height: 14em;
    padding: 1.5rem;
    -webkit-box-shadow: 0 0.75rem 6rem rgba(56,65,74,.03);
    box-shadow: 0 0.75rem 6rem rgba(56,65,74,.03);
    margin-bottom: 24px;
    border-radius: .25rem;
    float: left;
    margin-right: 20px;
 }

/*
    Footer
*/

.footer-bottom {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    color: #fff;
    background: rgb(55,55,60);
    background: linear-gradient(90deg, rgba(55,55,60,0.6110819327731092) 0%, rgba(62,58,58,0.29735644257703087) 61%);
}

.mt-0 {
    margin-top: 0 !important;
}

.time-table {
    text-align:center;
    font-family: monospace;
}
.r {
    text-align:left;
    width:70%;
}
.l {
    text-align:right;
    width:30%;
}
.l:after {
    content:':';
}
.r, .l{
    display:inline-block;
}

#match-scores .table {
    margin-bottom: 0px;
}

.clock{
    font-family: sans-serif;
    display: inline-block;
    font-weight: 100;
    text-align: center;
}

.clock > div{
    padding: 4px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
}

.clock div > span{
    display: inline-block;
    font-size: 14px;
    text-align: center;
}

#EU_clock > div{
    background: #2D3057;
    border-radius: 3px;
    text-align: center;
}

#US_clock > div{
    background: #5C3030;
    border-radius: 3px;
    text-align: center;
}

.clocks_container{
    text-align: center;
}

.EU_clock_container{
    display: inline-block;
    float: right;
    background: #1C2048;
    border-radius: 3px;
    padding: 3px;
}

.US_clock_container{
    display: inline-block;
    float: right;
    background: #4E1C1C;
    border-radius: 3px;
    padding: 3px;
}

.clock_title{
    font-size: 14px;
    text-align: center;
}

.about-botton{
    margin-bottom: 10px;
    background: rgba(0,0,0,.40);
}