{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon-logo.ico') }}">
{% endblock %}
{% block navbar %}
  <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container nav-container">
      <div class="navbar-header">
        <button id="changeToggleNav" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#armaNavbar">
          <span class="bar-icon-nav">
            <span class="icon-bar bar-icon-nav"></span>
            <span class="icon-bar bar-icon-nav"></span>
            <span class="icon-bar bar-icon-nav"></span>
          </span>
          <span class="glyphicon glyphicon-remove close-icon-nav hidden"></span>
        </button>
        <div class="logo-tail">
          <a class="navbar-brand nav-brand-image" href="/"></a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="armaNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Leagues</span> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for match_subtype_id, match_subtype in match_types['leagues'].items() %}
                <li class="dropdown-submenu">
                  <a href="/rankings?match_subtype_id={{match_subtype_id}}" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">{{match_subtype.title}}</span></a>
                  <ul class="dropdown-menu">
                      <li><a href="/rankings?match_subtype_id={{match_subtype_id}}">Rankings</a></li>
                      <li><a href="/league-info?match_subtype_id={{match_subtype_id}}">League Info</a></li>
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Pickup</span> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for match_subtype_id, match_subtype in match_types['pickup'].items() %}
                  <li class="dropdown-submenu">
                    <a href="/index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">{{match_subtype.title}}</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/rankings?match_subtype_id={{match_subtype_id}}">Rankings</a></li>
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='main.js')}}"></script>
  <script src="{{url_for('static', filename='charts.js')}}"></script>
{% endblock %}