{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon-logo.ico') }}">
{% endblock %}
{% block navbar %}
  <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container nav-container">
      <div class="navbar-header">
        <button id="changeToggleNav" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#armaNavbar">
          <span class="bar-icon-nav">
            <span class="icon-bar bar-icon-nav"></span>
            <span class="icon-bar bar-icon-nav"></span>
            <span class="icon-bar bar-icon-nav"></span>
          </span>
          <span class="glyphicon glyphicon-remove close-icon-nav hidden"></span>
        </button>
        <div class="logo-tail">
          <a class="navbar-brand nav-brand-image" href="/"></a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="armaNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/league-info">League Info</a></li>
          <li><a href="/rank-vote">Pickup Ranking Poll</a></li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='main.js')}}"></script>
{% endblock %}
