<div class="container-fluid">
  <div class="container date-card">
    <div class="row">
      {% for day_Of_week in data.days %}
        <div class="col-xs-5 col-md-2 date-card-col">
          <div class="calendar">
            <div class="frame">
              <div class="left screw">
                <div class="line"></div>
                <div class="shine"></div>
              </div>
              <div class="right screw">
                <div class="rerotate line"></div>
                <div class="shine"></div>
              </div>
              <div class="year">
                <h1 id="yearCaption">{{ day_Of_week.day }}</h1>
              </div>
            </div>
            <div class="content time-table">
              <h1 id="dayCaption" name="utc-time">{{ day_Of_week.utc_time }} UTC</h1>
              <h1 id="dayCaption" name="local-time">{{ day_Of_week.utc_time }} UTC</h1>
            </div>
            <div class="over"></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>