{% extends "base.html" %}

{% block content %}
  {% include "jumbotron.html" %}
  <div class="container league-info-container">
    <div class='page-header'>
      <h2><a id="how-to-join" style="text-decoration: none; color: inherit;">How to join</a></h2>
    </div>
    <p>
      If you would like to play in ranked matches and see your rating here, join us on the <a href='https://discord.gg/m9B42cS' target="_blank">armagetron discord</a> in the #sumo-bar-league channel. Show up in that channel an hour to five minutes before a scheduled match and post your login as a chat message, for example 'user@forums' – and you're signed up. 
      More details can be found in <a href='https://forums3.armagetronad.net/viewtopic.php?f=60&t=38366' target="_blank">this post</a> on the armagetron forums.
    </p>

    <div class='page-header'>
      <h2>Schedule</h2>
    </div>
    <p>
      Matches are currently divided into US and EU server sessions. Anyone is welcome to play in either of them.
      <h3>US matches</h3>
      {% with data=schedule_for_us %}
        {% include "date-card.html" %}
      {% endwith %}

      <h3>EU matches</h3>
      {% with data=schedule_for_eu %}
        {% include "date-card.html" %}
      {% endwith %}
    </p>

    <div class='page-header'>
      <h2>League rules</h2>
    </div>
    <p>
      The goal of having leagues and rankings is for it to be fun and fair for everyone. To make this possible, some basic rules are required.
      <div class="rules-list">
        <ol>
          <li>
            Show up on time.
            <ol>
              <li>
                The first match starts on the hour, the second usually 25-30 minutes after that, and so on. Any player not present when it starts will not be allowed to play and their rating will not be affected by that match.
              </li>
              <li>
                Players who repeatedly fail to show up for their matches will be given warnings followed by bans of increasing length.
              </li>
            </ol>
          </li>
          <li>
            Don't leave early.
            <ol>
              <li>
                All players are expected to display basic sportsmanship by staying until the end of the match. This also saves the admins from doing extra work to record the results.
              </li>
              <li>
                Players who repeatedly leave early will be given warnings followed by bans of increasing length.
              </li>
              <li>
                Players who briefly lose their connection to the server may rejoin the match and recover their points.
              </li>
              <li>
                A player has until the start of the 5th round to leave the match without it counting in the case of unforeseen lag (or equivalent). To do so they must announce their intention in the game chat before switching to spectator mode.
              </li>
              <li>
                A player who loses their connection to the server before the start of the 5th round and doesn't intend to rejoin the match must return to the server and announce that they’re opting to sit out.
              </li>
              <li>
                A player who loses their connection to the server after the start of the 5th round – and can’t rejoin in time – will be given their last known score as their final score and is advised to appeal to an admin on discord as soon as possible to avoid being penalized according to § 2.2.
              </li>
            </ol>
          </li>
          <li>
            It's not a chat room.
            <ol>
              <li>
                Players must keep their chat to a minimum to allow the other players to focus on the match. Since being silenced doesn’t prevent one from playing the game, any player leaving the server upon being silenced may be penalized for leaving early (see § 2.2).
              </li>
              <li>
                Spectators should keep the spectator chat related to the game at hand. Discussions unrelated to the ongoing match are advised to be held elsewhere. Any unnecessary use of the /shout command may be met with silencing the one who shouted without warning.
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </p>

    <div class='page-header'>
      <h2>Questions, comments or feedback?</h2>
    </div>
    <p>
      If you have any questions, comments or feedback, we would be happy to hear from you. Please reach out by posting in the #sumo-bar-league discord channel, responding to the forums post linked above, or reaching out directly to raph. Thanks!
    </p>
  </div>
  {% include "footer.html" %}
{% endblock %}