{% extends "base.html" %}

{% block content %}
  {{super()}}
  <div class="container" style="margin-top: 100px;">
    <div class='page-header'>
      <h2><a id="how-to-join" style="text-decoration: none; color: inherit;">How to join</a></h2>
    </div>
    <p>
      If you would like to play in ranked matches and see your rating here, join us on the <a href='https://discord.gg/m9B42cS' target="_blank">armagetron discord</a> in the #sumo-bar-league channel. Show up in that channel an hour to five minutes before a scheduled match and post your login as a chat message, for example 'user@forums' – and you're signed up. 
      More details can be found in <a href='https://forums3.armagetronad.net/viewtopic.php?f=60&t=38366' target="_blank">this post</a> on the armagetron forums.
    </p>

    <div class='page-header'>
      <h2>Schedule</h2>
    </div>
    <p>
      Matches are currently divided into US and EU server sessions. Anyone is welcome to play in either of them.
      <h3>US matches</h3>
      {% with data=schedule_for_us %}
        {% include "date-card.html" %}
      {% endwith %}

      <h3>EU matches</h3>
      {% with data=schedule_for_eu %}
        {% include "date-card.html" %}
      {% endwith %}
    </p>

    <div class='page-header'>
      <h2>League rules</h2>
    </div>
    <p>
      The goal of having leagues and rankings is for it to be fun and fair for everyone. To make this possible, some basic rules are required.
      <h3>The short version</h3>
      <ol>
        <li>
          Show up on time.
        </li>
        <li>
          Don’t leave early.
        </li>
        <li>
          Don’t RQ; appeal to an admin if you get d/c’d.
        </li>
        <li>
          Don’t spam during matches; you will be silenced.
        </li>
      </ol>
      <h3>The longer version</h3>
      <div>
        <ol>
          <li style="margin-top: 5px;">
            Show up for your match on time. The first match starts on the hour, the second usually 25-30 minutes after that, and so on. If you’re not there when it starts, you will not be allowed to play and that match will not be counted towards your ranking. Our primary match servers are named "Sumo Bar League (EU 1)" or "Sumo Bar League (US 1)".
          </li>
          <li style="margin-top: 5px;">
            Don’t leave early. The scores are recorded to logs once the “Match Winner:” center message appears. To be absolutely sure, please stay an extra few seconds (this also lets us screenshot the scores and update the ratings sooner.) If you leave before any scores have been recorded, you may be assigned a score of 0 for that match, so don’t risk it.
            <ol>
              <li style="margin-top: 5px;">
                If you leave the server completely without any explanation, your score at the time of leaving will be your match score and the position this puts you in will count towards your rating. However, if you return to the server you may rejoin the match with the same score you left it with. If you were disconnected and unable to rejoin the server in time, do your best to inform an admin in a timely manner on the discord channel.
              </li>
              <li style="margin-top: 5px;">
                Obvious rage quits will be penalized. Repeat offenders will be given bans of increasing length, starting with 1 full week.
              </li>
              <li style="margin-top: 5px;">
                If you were genuinely disconnected for reasons beyond your control (internet issues, client crash, etc) and unable to re-join in time, you may appeal to an admin who will subjectively decide an outcome for you. If you’re not fully content with the verdict, kindly remember that the admin is taking the entire rating system into consideration; not just your personal convenience.
              </li>
            </ol>
          </li>
          <li style="margin-top: 5px;">
            If you’re not playing, keep shouting to a minimum. Please show respect to all players by letting them focus on the game for the duration of the match. We’re keeping the bar for silencing spectators who shout very low; if you feel bad after getting silenced, do your best to move on with your life. Excessively complaining about it might just get you into further trouble. Trying to circumvent being silenced by rejoining might get you instantly silenced again as a precautionary measure, depending on the situation. There are no appeals for being silenced, just deal with it and move on.
            <ol>
              <li style="margin-top: 5px;">
                  Even if you’re playing, please keep your chatting to a healthy minimum. Occasional messages and instant chats are fine, but as soon as it becomes disruptive to the other players you may be silenced without warning for any duration. If this happens, just finish your match and – if absolutely necessary – discuss the decision with an admin after the session has ended. There are no appeals for being silenced, but you may be given an explanation. Since being silenced doesn’t prevent you from playing the game, leaving the server upon being silenced very much counts as a rage quit and you may be penalized for doing so.
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </p>

    <div class='page-header'>
      <h2>Questions, comments or feedback?</h2>
    </div>
    <p>
      If you have any questions, comments or feedback, we would be happy to hear from you. Please reach out by posting in the #competitions discord channel, responding to the forums post linked above, or reaching out directly to Titanoboa or raph. Thanks!
    </p>
  </div>
  {% include "footer.html" %}
{% endblock %}