{% for country in countries %}
  <div class="container-fluid">
    <div class="container">
      <div class="page-header mt-0">
        <div class="row">
          <div class="col-xs-6">
            <h2>{{ country.header }} Server</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="table-responsive .col-md-12" id="table-1">
      <table class="table table-hover header-fixed">
        <thead>
        <tr>
          <th>ranking</th>
          <th>username</th>
          <th>rating</th>
          <th>latest delta</th>
        </tr>
        </thead>
        <tbody>
        {% for ranking in country.ranking %}
          <tr>
            <td class="username"> {{ loop.index }} </td>
            <td class="ranking"> {{ ranking.username }} </td>
            <td class="rating"> {{ ranking.rating }} </td>
            {% if ranking.latest_delta > 0 %}
              <td class="latest-delta" style="color: green;"> +{{ ranking.latest_delta }} </td>
            {% elif ranking.latest_delta == 0 %}
            <td class="latest-delta"></td>
            {% else %}
              <td class="latest-delta" style="color: red;"> {{ ranking.latest_delta }} </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{#  {% with data=country %}#}
{#    {% include "date-card.html" %}#}
{#  {% endwith %}#}
{% endfor %}