{% extends "base.html" %}

{% block content %}
  {{super()}}

  <style>

    .vote-button{
        color: #ffffff;
        background-color: #3a4e7d;
        font-size: 20px;
        border-radius: 7px;
        transition-duration: 0.2s;
              }
    .vote-button:hover{
       background-color: #191949;
    }
    .vote-button:active{
       background-color: #000000;
    }
    #player1, #player2 {
                   display: none;
                   float:left;
                   margin-right:5px;
              }
  </style>

<div class="container" style="margin-top: 100px;">

  <div class='page-header'>
    <h2><a id="how-it-works" style="text-decoration: none; color: inherit;">How it works</a></h2>
  </div>
  <p>In an attempt to have quicker and more balanced #pickup fort6 matches, we are creating a ranking system based on community input. The voting process generates a matchup between two random players in our active user base for you to chose from based on your perception of skill. This data will help us build the a fair match-matching algorithm, so we ask you to please be fair and responsible while voting! All data is anonymous. Cast as many votes as you'd like.</p>
  <div class='page-header'>
    <h2>VOTE</h2>
  </div>
  <p>If you were captain, who would you pick first in a fort6 pickup match?</p>
  <button class="vote-button" id="player1"></button>
  <button class="vote-button" id="player2"></button>
  <br>
  <br>
  <button class="vote-button" id='matchup'>New Matchup</button>


  <script>
    document.getElementById("matchup").onclick = function() {generateMatchup()};
    function generateMatchup(){
      document.getElementById("player1").style.display = "block";
      document.getElementById("player2").style.display = "block";
      document.getElementById("player1").innerHTML = 'player 1';
      document.getElementById("player2").innerHTML = 'player 2';
    }
  </script>
</div>
{% include "footer.html" %}
{% endblock %}
