{% for country in countries %}
  <div class="container-fluid">
    <div class="container">
      <div class="page-header">
        <div class="row">
          <div class="col-xs-6">
            <h1>{{ country.header }} Server</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="table-responsive .col-md-12">
      <table class="table table-hover header-fixed">
        <thead>
        <tr>
          <th>ranking</th>
          <th>username</th>
          <th>rating</th>
        </tr>
        </thead>
        <tbody>
        {% for ranking in country.ranking %}
          <tr>
            <td class="username"> {{ loop.index }} </td>
            <td class="ranking"> {{ ranking.username }} </td>
            <td class="rating"> {{ ranking.rating }} </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% with data=country %}
    {% include "date-card.html" %}
  {% endwith %}
{% endfor %}